* {margin:0;padding:0;}
html {height:100%;overflow-y:scroll;font-family:Verdana,Georgia,Serif;}
body {height:100%;font-size:12px;line-height:22px;
display:flex;flex-direction: column;
color:#1b1e1d;background-color:#fbfbfb;}

.container {margin: 0 auto;flex: 1 0 auto;}
.wrap {max-width:800px;margin: 0 auto;padding:0 40px}
.rftd {display: flex;align-items: center;justify-content: center}
.footer {margin: 0 auto;flex-shrink: 0;}
#mainmenu{padding:48px 0}

h1, h2, h3 {font-family:'Vollkorn',Verdana,Georgia,serif;font-weight:normal;}
h1 {font-size:48px;line-height:46px;padding: 0 32px 0 0;color:#e10009;}
h2 {font-size:28px;line-height:26px;color:#e10009;}
h3 {font-size:16px;line-height:22px;}

h1, h1 a, h2, h2 a {font-weight:normal;letter-spacing:-0.04em}

span {padding:0 3em}

hr {clear:both;border:none}
a{outline:none;text-decoration:underline;color:#33342f}
a img{outline:none}
a:hover{color:#1b1e1d;text-decoration:none}
a:visited{text-decoration:none}
img {-webkit-user-select:none;-moz-user-select: none;user-select: none;}
img.fleft{float:left;margin:9px 32px 0 0}
img.fright{float:right;margin:9px 0 0 64px}
.chapter {padding: 3em 0}
.logo {float:left;padding-right: 6em}
.bigspacer{height:66px}

p {padding: 1em 0 0}

table {border: 1px solid #777;border-collapse: collapse;clear:both;float:left;margin:1rem 0;width:98%;}
table td {-moz-hyphens: auto;word-break: break-all;word-wrap: break-word;border: 1px solid #d7d7d7;padding:1rem;vertical-align: baseline;}

::selection{background:#33342f;color:#fbfbfb}
::-moz-selection{background:#33342f;color:#fbfbfb}
::-webkit-selection{background:#33342f;color:#fbfbfb}

